.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.9);
}

.imageZone {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.imageZone .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}
.imageZone img {
  display: none;
}

.buttonZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
.buttonInner {
  width: 600px;
  height: 60px;
}

.commentZone {
  width: 350px;
  background-color: #000;
  border-left: 1px solid rgb(47, 51, 54);
  overflow: auto;
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton svg {
  fill: white;
}
.closeButton:hover {
  background-color: rgba(25,25,25, 0.75);
}