.searchWrap {
  position: fixed;
  width: 350px;
  height: 53px;
  padding-top: 6px;
  padding-bottom: 12px;
  background: #000;
}
.search {
  border-radius: 21px;
  background-color: rgb(32, 35, 39);
  display: flex;
  align-items: center;
}

.search svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.search input {
  width: calc(100% - 70px);
  outline: none;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
}